.container {
    background-image: url("https://images.unsplash.com/photo-1555325084-b068599743c9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGVycm8lMjBmb25kbyUyMGJsYW5jb3xlbnwwfHwwfHw%3D&w=1000&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .title {
    background-color: rgba(128, 128, 128, 0.356);
    border-radius: 6px;
    z-index: 1;
    -webkit-text-stroke: 0.1px #F0EBD8;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #0D1321;
    font-family:serif;
    font-size: 52px;
  }
  
  .text {
    z-index: 0;
    -webkit-text-stroke: 0.1px #F0EBD8;
    color: #0D1321;
    font-size: 25px;
    padding: 50px;
    font-family: cursive;
    text-align: center;
  }
  
  .button {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 18px;
    background-color: #748CAB;
    font-size: 14px;
    padding: 0.5em 1.5em;
    border: none;
    box-shadow: 2px 2px 4px #0D1321;
    color: #F0EBD8;
    border-radius: 6px;
    margin-bottom: 2rem;
  }
  
  button:hover {
    background: linear-gradient(90deg, #3E5C76 0%, #3E5C76 100%);
  }
  
  /* media queries */
  @media screen and (max-width: 768px) {
    .title {
      font-size: 30px;
      top: 20%;
    }
    .text {
      font-size: 18px;
      padding: 20px;
      margin-top: 2rem;
    }
    .button {
      bottom: 5%;
    }
  }
  
  @media screen and (max-width: 480px) {
    .title {
      font-size: 16px;
      top: 13%;
    }
    .text {
      font-size: 16px;
      padding: 21px;
      margin-top: 2rem;
    }
    .button {
        bottom: 2%;
        margin-top: 2rem ;
      }
     
  }
  