.container {
    background-image: url("https://images.unsplash.com/photo-1555325084-b068599743c9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGVycm8lMjBmb25kbyUyMGJsYW5jb3xlbnwwfHwwfHw%3D&w=1000&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
  }
  
  .title {
    text-align: center;
    background-color: rgba(128, 128, 128, 0.356);
    border-radius: 6px;
    z-index: 1;
    -webkit-text-stroke: 0.1px #F0EBD8;
    color: #0D1321;
    font-family:serif;
    font-size: 52px;
  }
  
  .text {
    z-index: 0;
    -webkit-text-stroke: 0.1px #F0EBD8;
    color: #0D1321;
    font-size: 25px;
    padding: 100px;
    font-family: cursive;
    text-align: center;
  }
  
  .button {
    bottom: 10%;
    border-radius: 18px;
    background-color: #748CAB;
    font-size: 14px;
    padding: 0.5em 1.5em;
    border: none;
    box-shadow: 2px 2px 4px #0D1321;
    color: #F0EBD8;
    border-radius: 6px;
    margin-bottom: 2rem;
    margin: 0 auto;
  }
  
  button:hover {
    background: linear-gradient(90deg, #3E5C76 0%, #3E5C76 100%);
  }
  
  /* media queries */
  @media screen and (max-width: 768px) {
    .title {
      font-size: 30px;
    }
    .text {
      font-size: 18px;
      padding: 20px;
    }
    .button { 
      bottom: 5%;
    } 
  }
  
  