.container1{
    background-image: url("https://mobimg.b-cdn.net/v3/fetch/01/01858b95eff49cf86dd88b5cc151ee36.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.contentTitle {
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button1 {
    border-radius: 4px;
    background-color: rgb(67, 99, 187);
    align-items: center;
    width: 90px;
    height: 25px;
    padding: 2px;
    border: 2.5px solid rgb(10, 149, 230);
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.title {
    text-align: center;
    -webkit-text-stroke: 0.1px #F0EBD8;
    color: #051e58;
    font-family:serif;
    font-size: 52px;
}

.form {
    background-color: rgba(0, 0, 0, 0.329);
    border: solid 1.8px rgba(0, 0, 0, 0.986);
    backdrop-filter: blur(2.4px);
    box-shadow: 18px -10px 12px rgb(71, 71, 71);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    z-index: 0;
    height: 90vh;
    width: 60vw;
    justify-content: center;
    align-items: center;
}

.container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.name {
    color: rgb(206, 206, 206);
    font-weight: 660;
}

.inputName {
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    background-color: #080707a9;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
    transition: 300ms ease-in-out;
    width: 20rem;
}

.inputName:focus {
    background-color: rgba(255, 255, 255, 0.356);
    transform: scale(1.05);
    box-shadow: 8px 8px 40px #969696,
        -8px -8px 40px #ffffff;
}

.errName {
    color: rgb(175, 0, 0);
}

.container3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.image {
    color: rgb(206, 206, 206);
    font-weight: 660;
}

.inputImage {
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    background-color: #080707a9;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
    transition: 300ms ease-in-out;
    width: 20rem;
}

.inputImage:focus {
    background-color: rgba(255, 255, 255, 0.356);
    transform: scale(1.05);
    box-shadow: 8px 8px 40px #969696,
        -8px -8px 40px #ffffff;
}

.errImag {
    color: rgb(175, 0, 0);
}

.container4 { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.labelWeight {
    color: rgb(206, 206, 206);
    font-weight: 660;
}

.labelWeightmin {
    color: rgb(206, 206, 206);
    font-weight: 600;
    margin-top: rem;
}

.inputWeightmin {
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    background-color: #080707a9;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
    transition: 300ms ease-in-out;
    width: 20rem;
}

.inputWeightmin:focus {
    background-color: rgba(255, 255, 255, 0.356);
    transform: scale(1.05);
    box-shadow: 8px 8px 40px #969696,
        -8px -8px 40px #ffffff;
}

.errWeightmin {
    color: rgb(175, 0, 0);
}

.labelWeightmax {
    color: rgb(206, 206, 206);
    font-weight: 600;
}

.inputWeightmax {
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    background-color: #080707a9;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
    transition: 300ms ease-in-out;
    width: 20rem;
}

.inputWeightmax:focus {
    background-color: rgba(255, 255, 255, 0.356);
    transform: scale(1.05);
    box-shadow: 8px 8px 40px #969696,
        -8px -8px 40px #ffffff;
}

.errWeightmax {
    color: rgb(175, 0, 0);
}

.container5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.height {
    color: rgb(206, 206, 206);
    font-weight: 660;
}

.inputHeight {
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    background-color: #080707a9;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
    transition: 300ms ease-in-out;
    width: 20rem;
}

.inputHeight:focus {
    background-color: rgba(255, 255, 255, 0.356);
    transform: scale(1.05);
    box-shadow: 8px 8px 40px #969696,
        -8px -8px 40px #ffffff;
}


.errheight {
    color: rgb(175, 0, 0);
}

.container6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.life {
    color: rgb(206, 206, 206);
    font-weight: 660;
}

.inputLife {
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    background-color: #080707a9;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
    transition: 300ms ease-in-out;
    width: 20rem;
}

.inputLife:focus {
    background-color: rgba(255, 255, 255, 0.356);
    transform: scale(1.05);
    box-shadow: 8px 8px 40px #969696,
        -8px -8px 40px #ffffff;
}

.errLife {
    color: rgb(175, 0, 0);
}

.temperaments {
    color: rgb(206, 206, 206);
    font-weight: 660;
}

.temps {
    color: rgb(206, 206, 206);
    font-weight: 660;
}

.frc {
    color: rgb(206, 206, 206);
    font-weight: 660;
}

.ul {
    color: hwb(244 0% 40%);
    font-weight: 660;
}

.button2 {
    height: 6vh;
    width: 13vw;
    display: flex;
    align-items: center;
    font-family: inherit;
    font-size: 16px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: #ad5389;
    background: linear-gradient(0deg, rgb(0, 13, 85) 0%, rgb(23, 31, 148) 100%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #15015c98;
    letter-spacing: 0.05em;
    border-radius: 6em;
}

.button2 svg {
    margin-right: 6px;
}

.button2:hover {
    box-shadow: 0 0.5em 1.5em -0.5em hwb(244 0% 40% / 0.596);
}

.button2:active {
    box-shadow: 0 0.3em 1em -0.5em #290ab398;
}

.tempers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    min-width: 20rem;
}

.button3 {
    color: rgb(0, 0, 0);
    background-color: red;
    border-radius: 6px;
    z-index: 0;
    height: 4vh;
    width: 2.5vw;
    top: 26.4rem;
    left: 56rem;
}