.container1{
    background-image: url("https://mobimg.b-cdn.net/v3/fetch/01/01858b95eff49cf86dd88b5cc151ee36.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    z-index: 0;
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.contentTitle {
    margin-left: -18rem;
    gap: 15rem;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.button1 {
    border-radius: 6px;
    background-color: rgb(67, 99, 187);
    align-items: center;
    width: 100px;
    height: 40px;
    border: 2.5px solid rgb(0, 46, 73);
    font-size: 11.8px;
    font-weight: bold;
    text-transform:uppercase;
}

.title {
    text-align: center;
    margin-top: 1rem;
    -webkit-text-stroke: 0.1px #F0EBD8;
    color: #051e58;
    font-family:serif;
    font-size: 52px;
}

.form {
    background-color: rgba(0, 0, 0, 0.329);
    border: solid 1.8px rgba(0, 0, 0, 0.986);
    backdrop-filter: blur(2.4px);
    box-shadow: 18px -10px 12px rgb(71, 71, 71);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 80vw;
    justify-content: center;
    align-items: center;
    max-width:500px;
    padding: 50px;
    margin-top: 1rem;
}

.container2 {
    margin-top: 0.8rem;
    gap:0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.name {
    color: #051e58;
    font-weight: 660;
}

.inputName {
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    background-color: #080707a9;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
    transition: 300ms ease-in-out;
    width: 16rem;
}

.inputName:focus {
    background-color: rgba(255, 255, 255, 0.356);
    transform: scale(1.05);
    box-shadow: 8px 8px 40px #969696,
        -8px -8px 40px #ffffff;
}

.errName {
    margin-top: 0.1rem;
    color: rgb(175, 0, 0);
}

.container3 {
    margin-top: 0.4rem;
    gap:0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.image {
    color: #051e58;
    font-weight: 660;
}

.inputImage {
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    background-color: #080707a9;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
    transition: 300ms ease-in-out;
    width: 16rem;
}

.inputImage:focus {
    background-color: rgba(255, 255, 255, 0.356);
    transform: scale(1.05);
    box-shadow: 8px 8px 40px #969696,
        -8px -8px 40px #ffffff;
}

.errImag {
    margin-top: 0.1rem;
    color: rgb(175, 0, 0);
}

.container4 { 
    margin-top:0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.labelWeight {
    text-decoration: underline;
    color: #07308f;
    font-weight: 800;
}

.labelWeightmin {
    color: #051e58;
    font-weight: 660;
    margin-top: -1.8rem;
}

.inputWeightmin {
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    background-color: #080707a9;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
    transition: 300ms ease-in-out;
    width: 16rem;
}

.inputWeightmin:focus {
    background-color: rgba(255, 255, 255, 0.356);
    transform: scale(1.05);
    box-shadow: 8px 8px 40px #969696,
        -8px -8px 40px #ffffff;
}

.errWeightmin {
    margin-top: 0.1rem;
    color: rgb(175, 0, 0);
}

.labelWeightmax {
    color: #051e58;
    font-weight: 660;
    margin-top: -0.8rem;
}

.inputWeightmax {
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    background-color: #080707a9;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
    transition: 300ms ease-in-out;
    width: 16rem;
}

.inputWeightmax:focus {
    background-color: rgba(255, 255, 255, 0.356);
    transform: scale(1.05);
    box-shadow: 8px 8px 40px #969696,
        -8px -8px 40px #ffffff;
}

.errWeightmax {
    margin-top: 0.1rem;
    color: rgb(175, 0, 0);
}

.container5 {
    gap:0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.height {
    color: #051e58;
    font-weight: 660;
}

.inputHeight {
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    background-color: #080707a9;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
    transition: 300ms ease-in-out;
    width: 16rem;
}

.inputHeight:focus {
    background-color: rgba(255, 255, 255, 0.356);
    transform: scale(1.05);
    box-shadow: 8px 8px 40px #969696,
        -8px -8px 40px #ffffff;
}


.errheight {
    color: rgb(175, 0, 0);
}

.container6 {
    gap:0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.life {
    color: #051e58;
    font-weight: 660;
}

.inputLife {
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    background-color: #080707a9;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
    transition: 300ms ease-in-out;
    width: 16rem;
}

.inputLife:focus {
    background-color: rgba(255, 255, 255, 0.356);
    transform: scale(1.05);
    box-shadow: 8px 8px 40px #969696,
        -8px -8px 40px #ffffff;
}

.errLife {
    color: rgb(175, 0, 0);
}

.temperaments {
    color: #051e58;
    font-weight: 660;
}

.temps {
    color: #051e58;
    font-weight: 660;;
}

.frc {
    color: #051e58;
    font-weight: 660;
}

.ul {
    color: hwb(244 0% 40%);
    font-weight: 660;
}

.button2 {
    height: 5.5vh;
    width: 10vw;
    display: flex;
    align-items: center;
    font-family: inherit;
    font-size: 16px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: linear-gradient(0deg, rgb(2, 9, 49) 0%, rgb(23, 31, 148) 100%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #24039998;
    letter-spacing: 0.05em;
    border-radius: 6em;
}

.tempers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    min-width: 20rem;
}

@media screen and (max-width: 830px) {  
    .container1{
        background-position: center;
        z-index: 0;
        height: 150vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-size:520px 1200px;
    }
    .contentTitle {
        gap: 1rem;
        margin-left: 0%;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .title {
        text-align: center;
        font-size: 30px;
      }
      .form{
        flex-direction: column;
        width: 50%;
      }
    .inputName{
        width: 14rem;
    }
    .inputImage{
        width: 14rem;
    }  
    .inputWeightmin{
        width: 14rem;
    }
    .inputWeightmax{
        width: 14rem;
    }
    .inputHeight{
        width: 14rem;
    }
    .inputLife{
        width: 14rem;
    }
    .errName{
        font-size: 12.5px;
    }
    .errImag{
        font-size: 12.5px;
    }
    .errWeightmin{
        font-size: 12.5px;
    }
    .errWeightmax{
        font-size: 12.5px;
    }
    .errheight{
        font-size: 12.5px;
    }
    .errLife{
        font-size: 12.5px;
    }
    .button2{
        margin-bottom: 0.5rem;
        width: 9rem;
    }
  }